@media (min-width: 768px) and (max-width: 991px) {
    .width100 {width: 100% !important;}
    .masonry .item {
        width: 49.4%;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .masonry .item {
        width: 32.5%;
    }
}
@media (max-width: 600px) {
    #home h1 {font-size: 40px;}
}
@media (max-width: 767px) {

    .navbar-default .navbar-nav a::after {
        display:none;
    }

    .prova {
        position: relative !important;
    }

    .sidebar-offcanvas{
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        width:70%;
        z-index: 51;
        margin: 0; padding: 0;
        position: fixed;
        top:50px;
        right: -70%;
    }

    .sidebar-offcanvas ul li{margin:0}
    .sidebar-offcanvas ul li a{color:#fff;padding: 15px 20px;margin:0;font-size: 15px;}
    .sidebar-offcanvas ul li a:hover{ border-radius:0}

    .nav{margin-top: 0px;}
    .nav > li > a:hover,
    .nav > li > a:focus{background-color: #ff625f}

    .active {right: 0;}

    .masonry .item {
        width: 100%;
        margin: 0px 0px 5px 0px;
    }

}
@media (min-width: 768px) {
    .business .title{
        margin-top: 0 !important;
    }
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}
@media (min-width: 601px) and (max-width: 820px) {
    #home h1 {font-size: 70px;}
}
@media (min-width: 1024px) {
    .cd-top {
        right: 30px;
        bottom: 30px;
    }
}
@media only screen and (min-width: 1170px) {
    .fixed-bg {
        background-attachment: fixed;
    }
}
@media (min-width: 1200px) {
    .masonry .item {
        width: 24.4%;
    }
}
